#modal-content .SignUp-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: flex-start;
    /* align-items: center; */
    height: 100%;
    justify-content: space-evenly;
    margin: 10px 0px;
    /* overflow:scroll; */
    
  }
  
  .SignUp-form ul {
    width: 100%;
    color: #FF385C;
    margin: 10px;
  }
  .try-demo{
    margin-top: 10px;
  }
  .try-demo:hover{
    color: #FF385C;
    cursor: pointer;
  }