.spots-cards-session {
    position: relative;
    /* border: 2px rgb(204, 47, 136) dotted; */
    top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    padding-top: 15px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.spots-cards-session a {
    position: relative;
    /* border: 2px rgb(47, 22, 151) dotted; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 275px;
    /* padding: 5px; */
    margin-right: 29px;

}

.spot-image > img {    
    display: flex;
    /* background-color: brown; */
    float: left;
    width: 275px;
    height: 275px;
    object-fit: cover;
    border-radius: 15px;
    
}

.spot-info {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

.spot-info-topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;

}

.spot-location {
    font-weight: 600;
}

.spot-price > span {
    font-weight: 600;
}



