.spot-detail-page-container {
    position: relative;
      
      display: flex;
      flex-direction: column;
      top: 80px;
      width: 80%;
      margin: auto;
      font-family: 'Open Sans', sans-serif;
}

.spot-detail-title-box {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.spot-detail-title-upper {
    margin-bottom: 10px;
    font-size: 20px;
}

.spot-detail-title-lower {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.spot-detail-photos-box{

    display: grid;  
    grid-template-columns: 1fr 1fr;  
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
    column-gap: 8px;
    
}

.spot-detail-previewImg {
    /* position: relative; */
    /* display: flex; */
    
    /* min-width: 50%; */
    height: 400px;
   
}
img {
    object-fit: cover;
}
.spot-detail-previewImg:hover{
    cursor: pointer;
}

.spot-detail-previewImg > img {   
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
   

   
}

.spot-detail-imges {
    /* border: 2px rgb(12, 2, 24) dotted;   */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
    min-width: 50%;
    height: 400px;
    
    
}
.spot-detail-imges:hover{
    cursor: pointer;
}

.spot-detail-imges img {
    width: 100%;
    height: 196px;
    object-fit: cover;
    /* box-sizing: border-box; */
    
}
.spot-detail-imges img:nth-child(2){
    border-top-right-radius:1rem;
    
}
.spot-detail-imges img:nth-child(4){
    border-bottom-right-radius:1rem;
    
}

.spot-detail-info-whole-box {
    display: flex;
    flex-direction: column;
    
}

.spot-detail-info-whole-box > * {
    border-bottom: 1px rgba(203, 202, 202, 0.496) solid;
    /* border-top: 1px rgba(203, 202, 202, 0.496) solid; */
    padding: 10px 0px;
}

.spot-detail-info-host {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 20px;
}

.spot-detail-info-description {
    margin: 10px 0px;
    padding-bottom: 20px;
}

.spot-detail-info-reviews-topbar{
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px;
    margin: 10px 0px;
}

.spot-detail-info-reviews-list {
    /* border: 2px rgb(77, 12, 151) dotted; */
    display: flex;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
}
.review-info-wrap {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
    /* box-sizing: border-box; */
}

.review-info-wrap > * {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;
    padding-right: 15%;
    overflow-wrap: break-word;
}

.review-info-container > * {
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.review-info-title-reviewername {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.review-info-title-createtime {
    font-size: 14px;
}

.add-review {
    /* border: 2px rgb(77, 12, 151) dotted; */
    position: relative;
    top: 0px;
    bottom: 20px;
    height: 70px;
}

.add-review button {
    border: 1px solid black;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif
}

.add-review button:hover {
    background-color: rgba(246, 246, 246, 0.677);
}


